<template>
<div id="main">
  <div class="container">
    <h2 class="title is-3">All Brands</h2>
    <CategoryAndBrandList :type="'brands'" :listing="data" v-if="loading === false" />
    <progress v-else class="progress is-default" max="100">30%</progress>
      </div> <!-- .container -->
</div><!-- #main -->
</template>

<script>
import axios from 'axios';
import CategoryAndBrandList from './CategoryAndBrandList';

export default {
  name: 'Brands',
  components: { CategoryAndBrandList },
  data() {
    return {
      data: [],
      loading: true
    };
  },
  created() {
    // load initial data
    this.loading = true;
    axios.get(`${process.env.ROOT_API}/api/brands`)
      .then((response) => { this.data = response.data; this.loading = false; })
      .catch(err => console.log(err));
  },
  methods: {

  },
};
</script>


<style land="scss">

</style>
