<template>
<div id="main">
  <div class="container">
    <h2 class="title is-3" v-if="this.$route.name === 'CategorySingle'">
        Products for {{this.$route.params.category}} Category
    </h2>
    <h2 class="title is-3" v-else>Products for {{this.$route.params.brand}} Brand</h2>
    <ProductList :products="products" v-if="loading === false" />
    <progress v-else class="progress is-default" max="100">30%</progress>

    <nav class="pagination is-centered" role="navigation" aria-label="pagination"
    v-if="pagination.total>1">

    <paginate
    :page-count="pagination.total"
    :click-handler="loadPage"
    :prev-text="'<'"
    :next-text="'>'"
    :container-class="'pagination-list'"
    :page-class="'pagination-link'"
    :prev-link-class="'pagination-previous'"
    :next-link-class="'pagination-next'">
    </paginate>
    </nav>

  </div> <!-- .container -->
</div><!-- #main -->
</template>

<script>
import { mapActions } from 'vuex';
import axios from 'axios';
import ProductList from './ProductList';


export default {

  components: { ProductList },
  data() {
    return {
      products: [],
      pagination: {},
      loading: true
    };
  },
  created() {
    // load initial data
    this.loadData();
  },

  methods: {
    // map actions from VUEX in this component
    ...mapActions('cart', [
      'addProductToCart',
    ]),

    loadData() {
      // load data from API
      this.loading = true;
      const route = (this.$route.name === 'CategorySingle') ? 'category' : 'brand';
      const query = (this.$route.name === 'CategorySingle') ? this.$route.params.category : this.$route.params.brand;
      axios.get(`${process.env.ROOT_API}/api/products/${route}/${query}`)
        .then((response) => {
          this.products = response.data.products;
          this.pagination = response.data.pagination;
          this.loading = false;
        })
        .catch(err => console.log(err));
    },
    loadPage(pageNum) {
      // load data from API with pagination
      this.loading = true;
      const route = (this.$route.name === 'CategorySingle') ? 'category' : 'brand';
      const query = (this.$route.name === 'CategorySingle') ? this.$route.params.category : this.$route.params.brand;
      axios.get(`${process.env.ROOT_API}/api/products/${route}/${query}?page=${pageNum}`)
        .then((response) => {
          this.products = response.data.products;
          this.pagination = response.data.pagination;
          this.loading = false;
          window.scrollTo(0, 0);
        })
        .catch(err => console.log(err));
    },

  },
};
</script>


<style land="scss">

</style>
