<template>

    <div class="columns">

      <div class="column is-one-fifth" v-for="list in listing">

        <div class="card">

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-6" v-if="type === 'brands'">
                  <router-link class="brands-categories-link"
                    :to="{ name: 'BrandSingle', params:{ brand: list.brand }}">
                    {{ list.brand }}
                  </router-link>
                </p>
                <p class="title is-6" v-if="type === 'categories'">
                  <router-link class="brands-categories-link"
                  :to="{ name: 'CategorySingle', params:{ category: list.category }}">
                  {{ list.category }}
                  </router-link>
                </p>
              </div>
            </div>

          </div>
        </div> <!-- .card -->

      </div> <!-- .column -->

    </div> <!-- .columns -->
</template>

<script>

export default {
  name: 'CategoryAndBrandsList',
  props: ['type', 'listing'],
  data() {
    return {

    };
  },
};
</script>


<style land="scss">

</style>
