<template>
<div id="main">
  <div class="container">
    <h2 class="title is-3">Featured</h2>
    <ProductList :products="products" v-if="loading === false" />
    <progress v-else class="progress is-default" max="100">30%</progress>
  </div> <!-- .container -->
</div><!-- #main -->
</template>

<script>
import { mapActions } from 'vuex';
import axios from 'axios';
import ProductList from './ProductList';

export default {
  name: 'Home',
  components: { ProductList },
  data() {
    return {
      products: [],
      loading: true,
    };
  },
  created() {
    // load initial data
    this.loading = true;
    axios.get(`${process.env.ROOT_API}/api/products`)
      .then((response) => { this.products = response.data; this.loading = false; })
      .catch(err => console.log(err));
  },
  methods: mapActions('cart', [
    'addProductToCart',
  ]),
};
</script>


<style land="scss">

</style>
