<template>
  <div class="wrap-products">
    <h2 class="title is-3" v-if="products.length === 0">No products to show</h2>
    <div class="columns" v-if="products.length > 0">

      <div class="column is-one-quarter" v-for="product in products" :key="product.id">

        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img :src="product.image_url" :alt="product.name">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">{{ product.name }}</p>
                <p class="subtitle price is-6">${{ product.price }}</p>
              </div>
            </div>

            <div class="content">
              <a class="button is-rounded btn-buy"
              @click="addToCart(product)" v-if="product.in_stock">
                <span class="icon is-small">
                  <i class="fas fa-shopping-cart"></i>
                </span>
                <span>Buy</span>
              </a>

              <a class="button is-rounded btn-buy-outOfStock" v-else>
                <span class="icon is-small">
                  <i class="fas fa-shopping-cart"></i>
                </span>
                <span>Out of Stock</span>
              </a>

            </div>
          </div>
        </div> <!-- .card -->

      </div> <!-- .column -->

    </div> <!-- .columns -->
</div> <!-- .wrap-products -->
</template>

<script>
import { mapActions } from 'vuex';
import swal from 'sweetalert';

export default {
  name: 'ProductList',
  props: ['products'],
  data() {
    return {

    };
  },
  methods: {
    // map actions from VUEX in this component
    ...mapActions('cart', [
      'addProductToCart',
    ]),

    addToCart(product) {
      swal({
        title: 'Item has been added in the cart',
        text: 'You wish to...',
        icon: 'success',
        buttons: {
          cancel: 'Continue Shopping',
          checkout: {
            text: 'Go to Cart',
            value: 'cart',
          },
        },
      })
        .then((value) => {
          switch (value) {
            case 'cart':
              this.$router.push({ name: 'ShoppingCart' });
              break;
            default:
              break;
          }
        });
      // call function from VUEX
      this.addProductToCart(product);
    },
  },

};
</script>


<style land="scss">

</style>
