<template>
<div id="main">
  <div class="container">
    <h2 class="title is-3">Searching for {{this.$route.params.search}}</h2>
    <ProductList :products="products" v-if="loading === false" />
    <progress v-else class="progress is-default" max="100">30%</progress>

<nav class="pagination is-centered" role="navigation" aria-label="pagination"
v-if="pagination.total>1 && pagination.count>0">
<paginate
  :page-count="pagination.total"
  :click-handler="loadPage"
  :prev-text="'<'"
  :next-text="'>'"
  :container-class="'pagination-list'"
  :page-class="'pagination-link'"
  :prev-link-class="'pagination-previous'"
  :next-link-class="'pagination-next'">
</paginate>
</nav>


  </div> <!-- .container -->
</div><!-- #home -->
</template>

<script>
import axios from 'axios';
import ProductList from './ProductList';

export default {
  name: 'Search',
  components: { ProductList },
  data() {
    return {
      products: [],
      pagination: {},
      loading: true
    };
  },
  created() {
    // load initial data
    this.loadData();
  },
  watch: {
    // watch for new search param when in the same page to reload the data
    $route(to, from) {
      if (from.params.search !== to.params.search) {
        return this.loadData();
      }
      return null;
    },
  },
  methods: {
    loadData() {
      // load data from API
      this.loading = true;
      const keyword = this.$route.params.search;
      axios.get(`${process.env.ROOT_API}/api/products/search?search=${keyword}`)
        .then((response) => {
          this.products = response.data.products;
          this.pagination = response.data.pagination;
          this.loading = false;
        })
        .catch(err => console.log(err));
    },
    loadPage(pageNum) {
      // load data from API with pagination
      this.loading = true;
      const keyword = this.$route.params.search;
      axios.get(`${process.env.ROOT_API}/api/products/search?search=${keyword}&page=${pageNum}`)
        .then((response) => {
          this.products = response.data.products;
          this.pagination = response.data.pagination;
          this.loading = false;
          window.scrollTo(0, 0);
        })
        .catch(err => console.log(err));
    },
  },
};
</script>


<style land="scss">

</style>
