<template>
  <div class="main">
      <div class="container">

<div class="shopping-cart" v-if="products.length === 0">
<h2 class="title is-3">Shopping Cart is empty</h2>
</div>

<div class="shopping-cart" v-else>
<h2 class="title is-3">Shopping Cart</h2>
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product" v-for="product in products" :key="product.id">
    <div class="product-image">
      <img :src="product.image_url">
    </div>
    <div class="product-details">
      <div class="product-title">{{ product.name }}</div>
    </div>
    <div class="product-price">{{ product.price }}</div>
    <div class="product-quantity">
      x {{ product.quantity }}
    </div>
    <div class="product-removal">
      <button class="remove-product" @click="deleteFromCart(product)">
        Remove
      </button>
    </div>
    <div class="product-line-price">{{ product.price * product.quantity}}</div>
  </div>

  <div class="totals">
    <div class="totals-item">
      <label>Total</label>
      <div class="totals-value" id="cart-total">{{ total }}</div>
    </div>
  </div>

      <button class="checkout" @click="doCheckout()">Checkout</button>

</div>

    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import swal from 'sweetalert';

export default {
  name: 'Cart',
  computed: {
    // map getters from VUEX into local variables
    ...mapGetters('cart', {
      products: 'cartProducts',
      total: 'cartTotalPrice',
    }),
  },
  methods: {
    // map actions from VUEX in this component
    ...mapActions('cart', [
      'deleteProductFromCart',
      'checkout',
    ]),
    doCheckout() {
      swal({
        title: 'Thank you for your order!',
        text: 'We\'ll be in touch soon',
        icon: 'success',
        buttons: {
          confirm: {
            text: 'Ok',
          },
        },
      })
        .then(() => {
          this.checkout();
          this.$router.push({ name: 'Home' });
        });
    },


    deleteFromCart(product) {
      swal({
        title: 'Are you sure you want to delete',
        text: `${product.name}`,
        icon: 'error',
        buttons: {
          yes: {
            text: 'Yes',
            value: 'yes',
          },
          cancel: 'No',
        },
      })
        .then((value) => {
          switch (value) {
            case 'yes':
              this.deleteProductFromCart(product);
              break;
            default:
              break;
          }
        });
    },
  },
};
</script>

<style lang="scss">

/* Global settings */
$color-border: #eee;
$color-label: #aaa;
$font-default: "Stag Sans Web",Roboto,Arial,sans-serif;
$font-bold: "Stag Sans Web",Roboto,Arial,sans-serif;


/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 9%; }
.product-line-price { float: left; width: 12%; text-align: right; }


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}


/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}


.shopping-cart {
  margin-top: 30px;
  padding: 10px;
}


/* Column headers */
.column-labels {
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }

  .product-image, .product-details, .product-removal {
    text-indent: -9999px;
  }
}


/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;

  .product-image {
    text-align: center;
    img {
      width: 100px;
    }
  }

  .product-details {
    .product-title {
      margin-right: 20px;
      font-family: $font-bold;
    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }

  .product-quantity {
    input {
      width: 40px;

    }
  }

  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
  }

  .remove-product:hover {
    background-color: #a44;
  }
}


/* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;

    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }

    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }

  .totals-item-total {
    font-family: $font-bold;
  }
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {

  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid $color-border;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
    img {
      margin: 0 0 10px 10px;
    }
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
    input {
      margin-left: 20px;
    }
  }


  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }

}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {

  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: $';
  }

  .totals {
    .totals-item {
      label {
        width: 60%;
      }

      .totals-value {
        width: 40%;
      }
    }
  }
}

</style>
