<template>
  <div id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://www.noelleeming.co.nz/etc/designs/noelleeming/images/noelleeming.svg" width="215" height="40">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarNlg" @click="isOpenBurger = !isOpenBurger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarNlg" class="navbar-menu" :class="{'is-active': isOpenBurger}">
    <div class="navbar-start">
      <a @click="goToCategories()" class="navbar-item">
        Categories
      </a>

      <a @click="goToBrands()" class="navbar-item">
        Brands
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <div class="field">
          <p class="control has-icons-right">
            <input class="input search" type="text" v-model="search" v-on:keyup.enter="callSearch()" placeholder="Search">
            <span class="icon is-small is-right">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>
        
      </div>

      <div class="navbar-item">

        
        <a @click="goToCart()" class="button nlg-cart">
          <span class="icon is-small">
            <i class="fas fa-shopping-cart"></i>
          </span>
        </a>
        

      </div>

    </div>
  </div>
  </div>
</nav>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',
  data: () => {
    return {
      isOpenBurger: false,
      search: '',
    }
  },
  methods:{
    callSearch(){
      let keywords = this.search;
      if(typeof(keywords) === 'undefined' || keywords === '') return;
      this.isOpenBurger = !this.isOpenBurger;
      this.$router.push({ name: 'Search', params: { search: keywords }});
    },
    goToCart(){
      this.isOpenBurger = !this.isOpenBurger;
      this.$router.push({ name: 'ShoppingCart' });
    },
    goToCategories(){
      this.isOpenBurger = !this.isOpenBurger;
      this.$router.push({ name: 'Categories' });
    },
    goToBrands(){
      this.isOpenBurger = !this.isOpenBurger;
      this.$router.push({ name: 'Brands' });
    }
  }
};
</script>

<style lang="scss">
$navbar-burger-color: #fff;
$navbar-background-color: #e20612;
$navbar-item-color: #fff;
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: #e20612;
$navbar-dropdown-background-color:#e20612;
@import "../node_modules/bulma/bulma.sass";

#app {
  font-family: "Stag Sans Web",Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}
#main {
  padding: 30px;
}
.search {
  color: #e20612;
}
.fa-search{
  color: #e20612;
}
.nlg-cart, .nlg-cart:hover{
  background-color: #e20612;
  border: none;
  color: #ffde00;
}
.btn-buy{
  background-color: #ffde00;
}
.btn-buy-outOfStock{
  background-color: #ccc;
}
.columns { 
  flex-wrap: wrap 
}
.title {
  height: 100px;
}
.price {
  font-size: 1.75rem !important;
  color: #0a0a0a;
  font-weight: bold;
  font-style: normal;
}
.card-image {
    padding: 10px;
}

.pagination{
  margin-top: 20px;
  margin-bottom: 20px;
}
.pagination a{
  color: #e20612;
}
.pagination li.active{
  background-color: #f0e3e3;
}
.brands-categories-link{
  color: #e20612;
}
</style>
